@charset "UTF-8";

.projeto {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 
        max-height 0.5s ease, 
        opacity 0.5s ease,
        padding 0.3s ease;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    border-radius: 18px;
    padding: 0px 10px;
    box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.15);
}

/* classe que recebe o toggle no javascript */
.projeto.ativo {
    max-height: 1000px;
    padding: 10px;
    opacity: 1;
}

.imagemProjeto {
    margin: 15px;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.185);
    border-radius: 20px;
}

main h3 {
    margin: 8px;
}

main a {
    text-decoration: none;
    color: #00bcd4;
}

main a:hover {
    color: #c9c9c9;
}

/* icone indicando link externo */
main a::before {
    content: "\1F517";
}

/* icone importado do material icons */
.material-symbols-outlined {
    cursor: pointer;
    color: #0288d1;
    transition:
    color 0.2s ease,
    transform 0.3s ease;
    display: inline-block;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined:hover {
    color: #00bcd4;
}

.material-symbols-outlined.girando {
    transform: rotate(180deg);
}

.expandir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: #3c3c3c;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.15);
}